body {
  background-color:darkblue;
  color:white;
  text-align:center;
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;

}
header {
  background-color:lightblue;
  text-align:center;
  border-radius:20px;
}


